.key{
    box-shadow: 0px -6px 10px rgb(35, 50, 52), 0px 4px 15px rgb(37, 47, 49);
    transition: 0.5s;
    height: 2.5em;
    font-size: 1em;
    width: 3em;
    margin: 0.3em;
    background-color: #191a1c;
    border-radius: 0.5em;
    line-height: 2.5em;
    letter-spacing: 1px;
    text-align: center;

}
.key:hover {
    box-shadow: 0 2px 0 rgba(0, 90, 225, 0.15);
    cursor: pointer;
    top: 3px;
}

#tab{
    width : 10em;
}
